@import 'utilities';
@import 'theme';
.recent {
  background-color: $light;
  height: 30%;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;

  &-title {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
.recent-card {
}
.listItem {
}
.playlist {
}
